<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>index</title>

</head>
<body>
<div id="output" style="margin-top: 15px; float: left;">
    <div id="label_alipay" class="hide" style="text-align: center;padding: 20px;font-size: 16px;font-weight: bold;">支付宝</div>
</div>

<div id="output1" style="margin-top: 15px; float: left;">
    <div id="label_wechat" class="hide" style="text-align: center;padding: 20px;font-size: 16px;font-weight: bold;">微信支付</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.qrcode@1.0.3/jquery.qrcode.min.js"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>